@media screen and (min-width:1783px){
    .contact .hero .rhombus_img{
        display: block !important;
    }
}
@media screen and (max-width:1523px){
    .rotate_red_layer1{
       bottom: -50px;
    }
    .rotate_red_layer2{
       bottom: -75px;
    }
}
@media screen and (max-width:1400px) and (min-width: 990px){
    .intro_section .row .offset-lg-1{
        margin: 0 !important;
        flex-grow: 1;
    }
     .intro_section .main_img{
        padding: 30px !important;
    }
    .promo_book .promo_book_img{
        right: 133px;
    }
}
@media screen and (max-width:1400px){
    .testimonials .carousel-item .card .feedback_author_img{
        left: -66px;
    }
}
@media screen and (max-width:1200px){
    .rotate_red_layer1{
        bottom: -91px;
    }
    .rotate_red_layer2{
        bottom: -83px;
    }
    .rotate_gray_layer{
        clip-path: polygon(61% 0, 102% 0, 0 84%, 0 47%);
        width: 800px;
    }
    .promo_book .promo_book_img{
        right: 70px;
    }
    .contact .hero .circle_shape{
        display: none;
    }
}
@media screen and (max-width: 1052px) and (min-width: 993px){
    .popular_classes .carousel-item .explore{
        font-size: 15px;
    }
}
@media screen and (max-width: 1000px){
    .contact .contact_form .contact_with_us h2{
       font-size: 38px;
    }
}
@media screen and (max-width: 993px){
    .home header .navbar .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.736) !important;
        padding-left: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    .home header .navbar .start_shopping{
        display: block !important;
    }
    .home header .navbar .start_shopping .btn{
        margin-top: 10px;
    }
    .contact .top_bar{
        display: none !important;
    }
    .contact .hero h1{
        font-size: 36px;
    }
    .contact .contact_form form .submit_btn{
        margin: auto;
    }
}
@media screen and (max-width: 993px){
    .contact .contact_form{
        padding: 50px 0;
    }
}
@media screen and (max-width:980px){
    .testimonials .card{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 !important;
        text-align: center;
    }
    .testimonials .feedback_author_img{
        position: static !important;
        padding: 30px 0;
    }
    .testimonials .carousel-item .card .feedback{
        padding: 0 15px;
        height: 50%;
    }
    .testimonials .carousel-item .offset-1{
        margin-left:0;
    }
}
@media screen and (max-width:960px){
    .promo_book .promo_book_img{
        right: 30px;
    }
}
@media screen and (max-width:900px){
    .promo_book .promo_book_img{
        right: 10px;
    }
    .promo_book .promo_book_img img{
        max-width: 290px;
    }
}
@media screen and (max-width:863px){
    .rotate_red_layer1{
        clip-path: polygon(112% 26%, 95% 55%, 28% 102%, 5% 100%);
        bottom: -166px;
    }
    .rotate_red_layer2{
        clip-path: polygon(100% 26%, 100% 60%, 73% 100%, 50% 100%);
        bottom: -125px;
    }
}
@media screen and (max-width:852px){
    .promo_book .container-lg {
        padding: 77px 70px 40px;
    }
    .promo_book .details{
        text-align: center;
        padding-bottom: 80px;
    }
    .promo_book .promo_book_img{
        position: static !important;
        display: flex;
        justify-content: center;
    }
    .promo_book .promo_book_img img{
        max-width: 300px;
        position: relative;
        left: 17px;
    }
}
@media screen and (max-width:766px){
    footer .top_footer .right_side{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }
    footer .top_footer .right_side .app_store_img img{
        margin: 0 !important;
    }
    .contact .hero h1{
        font-size: 32px;
    }
}
@media screen and (max-width:750px){
    .contact .search_modal .modal-body .input_search{
        width: 75% !important;
    }
}
@media screen and (max-width:740px){
    .hero h1{
        font-size: 74px;
    }
    .hero p{
        top: 360px;
    }
    .hero a.btn{
        top: 500px;
    }
}
@media screen and (max-width:575px){
    .intro_section .intro_details{
        text-align: center;
        padding-top: 48px;
    }
    .intro_section .feature{
        margin: auto;
    }
    .achievements .row{
        row-gap: 24px;
    }
    .leatest_news .row{
        display: flex;
        flex-direction: column;
    }
    footer{
        text-align: center;
    }
    footer .top_footer .left_side .phone{
        margin: auto;
        padding-bottom: 20px;
        border: none !important;
    }
    footer .lower_footer .social_icons{
        width: fit-content;
        margin: auto;
        padding-top: 20px;
    }
    .contact header .navbar-toggler{
        margin-left: 3px !important;
    }
    .contact header .navbar .start_shopping .shopping_cart{
        display: none !important;
    }
    .contact header .navbar .start_shopping .search_icon{
        border: none !important;
    }
    .contact footer .top_footer .left_side a{
        margin: auto;
    }
}
@media screen and (max-width:547px){
    .hero h1{
        font-weight: 600 !important;
    }
}
@media screen and (max-width:526px){
    .rotate_red_layer1{
        display: none;
    }
}
@media screen and (max-width:476px){
    footer .top_footer .right_side{
        flex-direction: column;
        gap: 10px;
    }
}
@media screen and (max-width:453px){
    .intro_section .intro_rotate_red_layer {
        width: 341px;
    }
    .intro_section .main_img{
        padding: 30px !important;
    }
    .contact header .navbar .start_shopping{
        display: none !important;
    }
}
@media screen and (max-width:391px){
    .hero p{
        top: 440px;
    }
    .hero a.btn{
    top: 590px;
    }
    .contact .search_modal .modal-body .input_search{
        width: 90% !important;
    }
}
@media screen and (max-width:373px){
    .hero a.btn{
    top: 610px;
    }
    .contact .contact_form .contact_with_us h2{
        font-size: 34px;
    }
}
@media screen and (max-width:358px){
    .intro_section .intro_rotate_red_layer {
        width: 300px;
    }
    .promo_book .download_btn {
        padding: 12px 9px;
    }
    .promo_book .promo_book_img img{
        max-width: 250px;
    }
}
@media screen and (max-width:342px){
    .hero p{
        top: 530px;
    }
    .hero a.btn{
    top: 690px;
    }
}
